.blog {
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
    margin-top: 50px;
    &_title {
        & h2 {
            font-family: 'Artegra Sans Extended SC';
            font-weight: 700;
            font-size: 36px;
            line-height: 56px;
            text-transform: uppercase;
            color: #EA0011;
        }
    }
    &_content {
        &_item {
            margin-top: 30px;
            &_date {
                & span {
                    font-family: 'Artegra Sans Extended SC';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0.71em;
                    text-transform: uppercase;
                    color: #EA0011;
                }
            }
            &_content {
                display: flex;
                align-items: flex-start;
                margin-top: 20px;
                &_other {
                    margin-left: 15px; 
                }
                &_text {
                    &_visible {
                        & p {
                            font-family: 'Electrolize', sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                        }
                    }
                    &_hidden {
                        max-height: 0px;
                        overflow: hidden;
                        transition: all 0.3s linear;
                        & p {
                            font-family: 'Electrolize', sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                        }
                    }
                }
                &_arrow {
                    & img {
                        width: 24px;
                    }
                }
                &_read {
                    margin-top: 20px;
                    &_btn {
                        position: relative;
                        width: 268px;
                        height: 56px;
                        & img {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 100%;
                        }
                        & span {
                            font-family: "MonumentExtended-Ultrabold";
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            &.active {
                & .blog_content_item_content_text_hidden {
                    max-height: 1000px;
                    transition: all 0.3s linear;
                }
                & .blog_content_item_content_read {
                    display: none;
                }
            }
        }
    }
    &_awards {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        &_row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            margin-top: 20px;
            & img {
                width: calc(50% - 7.5px);
                max-width: 330px;
            }
            &:first-child {
                order: 1;
                & img {
                    max-width: 312px;
                }
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 3;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 0px 30px;
    }
    @media (min-width: 1200px) {
        padding: 0px 120px;
        margin-top: 100px;
        &_title {
            & h2 {
                font-size: 96px;
                line-height: 100px;
            }
        }
        &_content {
            max-width: 1440px;
            &_item {
                margin-top: 55px;
                &_date {
                    & span {
                        font-size: 40px;
                        line-height: 60px;
                    }
                }
                &_content {
                    box-sizing: border-box;
                    padding-left: 45px;
                    &_other {
                        margin-left: 30px;
                    }
                    &_arrow {
                        & img {
                            width: auto;
                        }
                    }
                    &_text {
                        &_visible {
                            & p {
                                font-size: 34px;
                                line-height: 40px;
                            }
                        }
                        &_hidden {
                            & p {
                                font-size: 34px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
        &_awards {
            margin-top: 80px;
            &_row {
                &:first-child {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 3;
                }
                &:nth-child(4) {
                    order: 4;
                }
            }
        }
    }
    @media (min-width: 1920px) {
        margin-top: 270px;
        &_content {
            &_item {
                margin-top: 90px;
                &_content {
                    margin-top: 40px;
                    &_read {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}